---
title: Coming Soon
---

#wrap
  #logo
    = image_tag 'logo.png', alt: data.config.company_name

  #content

    = form_tag 'http://marketing.titleleaf.com/t/r/s/ujdywy/', id: 'campaign' do
      %p
        = "Launching #{data.config.launch_date}"
      %input#fieldEmail{ name: 'cm-ujdywy-ujdywy', type: 'email', placeholder: 'Your Email Address' }
      %button{ type: 'submit' } Notify Me

    = partial 'partials/social'

  #footer
